<div class="column-layout group">
  <h5 class="h5">
    Produits à vendre
  </h5>
</div>
<div class="column-layout group_1">
  <div class="row-layout group_2">
    <p class="text">
      Categories
    </p>
    <button igxButton="raised" igxRipple class="button">
      Ajouter Categorie
    </button>
  </div>
  <div class="row-layout group_3">
    <p class="text">
      put the category table here
    </p>
  </div>
</div>
<div class="column-layout group_4">
  <div class="row-layout group_5">
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
      <label igxLabel>Recherche</label>
    </igx-input-group>
    <button igxButton="raised" igxRipple [igxToggleAction]="ajouterProduit" class="button_1">
      Ajouter
    </button>
  </div>
  <div class="row-layout group_6"></div>
</div>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #ajouterProduit>
  <igx-dialog-title>
    <h5>
      Ajouter un produit
    </h5>
  </igx-dialog-title>
  <ng-container>
    <p class="text">
      Body 1
    </p>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="flat" igxRipple [igxToggleAction]="ajouterProduit">Cancel</button>
    <button igxButton="flat" igxRipple [igxToggleAction]="ajouterProduit">OK</button>
  </igx-dialog-actions>
</igx-dialog>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #modifierProduit>
  <igx-dialog-title>
    <h5>
      Modifier un produit
    </h5>
  </igx-dialog-title>
  <ng-container>
    <p class="text">
      Body 1
    </p>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="flat" igxRipple [igxToggleAction]="modifierProduit">Cancel</button>
    <button igxButton="flat" igxRipple [igxToggleAction]="modifierProduit">OK</button>
  </igx-dialog-actions>
</igx-dialog>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #dialog2>
  <igx-dialog-title>
    <h5>
      Confirmation
    </h5>
  </igx-dialog-title>
  <ng-container>
    <p>Are you sure you want to do this?</p>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="flat" igxRipple [igxToggleAction]="dialog2">Cancel</button>
    <button igxButton="flat" igxRipple [igxToggleAction]="dialog2">OK</button>
  </igx-dialog-actions>
</igx-dialog>
