<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Produit de stock" >
        <div class="custom-card">

           

            <div class="btn-group mb-2 me-2" ngbDropdown [placement]="'bottom-left'" style="width: 30%;">
                <button class="btn btn-outline-success" ngbDropdownToggle type="button">
                    Point de Vente - {{ selectedEstablishment ? selectedEstablishment.name : 'Loading...' }}
                </button>
                <div class="dropdown-menu-container" ngbDropdownMenu>
                    <a *ngFor="let establishment of establishments" class="dropdown-item" href="javascript:" (click)="fetchCombos(establishment.id)">
                        {{ establishment.name }}
                      </a>
                </div>
            </div>

              <button type="button" class="btn btn-icon btn-primary" style="width:fit-content" (click)=" openAddCombo(selectedEstablishment.id)">Ajouter </button>


              
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>reference</th>
                    <th>name</th>
                    <th>Price</th>
                    <th>Produits</th>
                    <th>actions</th>
    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let combo of combos">
                    <td>{{combo.ref}}</td>
                    <td>{{ combo.name }}</td>
                    <td>{{ combo.price}}</td>
                    <td>
                        <ul>
                          <li *ngFor="let produit of combo.soldProducts">
                            {{  produit.name}} 
                          </li>
                        </ul>
                      </td>
                    <td><button type="button" class="btn btn-icon btn-danger" style="width: fit-content;" (click)="this.onDelete(combo.id,selectedEstablishment.id)">supprimer</button>
                        <button type="button" class="btn btn-icon btn-primary" style="width: fit-content;" (click)="onEdit(selectedEstablishment.id,combo.id)">éditer</button>
    
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
      </app-card>
    </div>
</div>