<div class="BigContainer">
    <!-- Left div -->
    <div class="left-div">
        <!-- Top div -->
        <div class="top-div">
            <div class="itemss">
                <div class="row">

                    <div *ngFor="let item of items ">
                        <div class="card2">
                            <div class="card-body2">
                                <div>
                                    <h4 class="card-title"> {{ item.name }} x {{ item.quantity }} </h4>
                                <p class="card-text"> {{item.price}}DT</p>
                                </div>
                                
                                <button class="delete-item-button" (click)="deleteItem(item.id)">
                                    <i class="feather icon-trash red"></i>
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="total-div">
                Total = {{ calculateTotalPrice() }} DT


            </div>
        </div>



        <!-- Bottom div -->
        <div class="bottom-div">
            <!-- Top div within bob-div -->
            <div class="bob-top-div">
                
                    <button class="button" (click)="clearItems()">Annuler </button>
                    <button class="button" [hidden]="currentEstab.tableSystem">TABLE</button>
                    <button class="button">Button 3</button>
                
            </div>

            <!-- Bottom div within bob-div -->
            <div class="bob-bottom-div">
                <!-- Pay div -->
                <div class="pay-div">
                    
                         <button class="pay-button"><i class="fa-solid fa-cart-plus" style="color: #ffffff;"></i></button>
                    
                </div>

                <!-- Calculator div -->
                <div class="calculator-div">
                     <div class="calculator">
                        <div class="row2">
                            <button class="calc-button" (click)="selectQuantity(1)"><i
                                    class="fa-solid fa-1"></i></button>
                            <button class="calc-button" (click)="selectQuantity(2)"><i
                                    class="fa-solid fa-2"></i></button>
                            <button class="calc-button" (click)="selectQuantity(3)"><i
                                    class="fa-solid fa-3"></i></button>
                        </div>
                        <div class="row2">
                            <button class="calc-button" (click)="selectQuantity(4)"><i
                                    class="fa-solid fa-4"></i></button>
                            <button class="calc-button" (click)="selectQuantity(5)"><i
                                    class="fa-solid fa-5"></i></button>
                            <button class="calc-button" (click)="selectQuantity(6)"><i
                                    class="fa-solid fa-6"></i></button>
                        </div>
                        <div class="row2">
                            <button class="calc-button" (click)="selectQuantity(7)"><i
                                    class="fa-solid fa-7"></i></button>
                            <button class="calc-button" (click)="selectQuantity(8)"><i
                                    class="fa-solid fa-8"></i></button>
                            <button class="calc-button" (click)="selectQuantity(9)"><i
                                    class="fa-solid fa-9"></i></button>
                        </div>
                        <div class="row2">
                            <button class="calc-button" (click)="selectQuantity(0)"><i
                                    class="fa-solid fa-0"></i></button>
                            <button class="calc-button" (click)="deleteLastInstance()"><i
                                    class="fa-solid fa-delete-left"></i></button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <!-- Right div -->
    <div class="right-div">
        <!-- Top section -->
        <div class="top-section selectiondiv">
            <!-- Top part (takes up 50% height) -->
            <div class="top-part">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="hideDropDown==1" href="javascript:void(0);"
                            (click)="toggleDropDown(1)">Produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="hideDropDown==2" href="javascript:void(0);"
                            (click)="toggleDropDown(2)">Combos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="hideDropDown==3" href="javascript:void(0);"
                            (click)="toggleDropDown(3)">Scan</a>
                    </li>
                </ul>
            </div>

            <!-- Bottom part (takes up 50% height) -->
            <div class="bottom-part">
                <!-- Search bar (takes up 70% width) -->
                <input class="form-control me-2 searchdiv" type="text" placeholder="Rechercher" [(ngModel)]="searchTerm"
                    (input)="applySearchFilter()" [hidden]="hideDropDown==3">

                <!-- Dropdown (takes up the remaining width) -->
                <div class="btn-group me-1" ngbDropdown [placement]="'bottom-left'" style="width: 30%;"
                    [hidden]="hideDropDown==2 || hideDropDown==3 ">
                    <button class="dropdown-toggle btn btn-primary" ngbDropdownToggle type="button">
                        {{ selectedCategory ? 'Categorie :'+ selectedCategory.categoryName : 'Tous les produits' }}
                    </button>

                    <!-- Add max-height to limit dropdown height -->
                    <div class="dropdown-menu-container" ngbDropdownMenu style="max-height: 150px; overflow-y: auto;">
                        <a class="dropdown-item" href="javascript:" (click)="onSelectCat(0)">ALL</a>


                        <a *ngFor="let category of categories" class="dropdown-item" href="javascript:"
                            (click)="onSelectCat(category.id)">
                            {{ category.categoryName }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom section -->
        <div class="bottom-section">
            <!-- Sold products -->

            <div *ngIf="hideDropDown==1">
                <div class="row">
                    <!-- Sold product cards -->
                    <div *ngFor="let soldProduct of filteredSoldProducts" class="col-lg-3 col-md-4 col-sm-6 "
                        style="padding-bottom: 5px; height:280px">
                        <div class="card" (click)="createItem(soldProduct.id, null, soldProduct.name)">
                            <!-- Product image -->
                            <div>

                                <img [src]="'http://localhost:8083/STOCK/sold-products/image/' + soldProduct.id"
                                    alt="no image" class="card-img-top">
                            </div>


                            <div class="card-body">
                                <!-- Product name -->
                                <h5 class="card-title sold-product-name">{{ soldProduct.name }}</h5>
                                <!-- Product price -->
                                <p class="card-text sold-product-price">Price: {{ soldProduct.price }} DT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="hideDropDown==2">
                <div class="row">
                    <div *ngFor="let combo of filteredCombos" class="col-lg-3 col-md-4 col-sm-6 "
                        style="padding-bottom: 5px; height:280px">


                        <div class="card" (click)="createItem(null, combo.id, combo.name)">
                            <div>

                                <img [src]="'http://localhost:8083/STOCK/combo/image/' + combo.id" alt="no image"
                                    class="card-img-top">
                            </div>


                            <div class="card-body">
                                <!-- Product name -->
                                <h5 class="card-title sold-product-name">{{ combo.name }}</h5>
                                <!-- Product price -->
                                <p class="card-text sold-product-price">Price: {{ combo.price }} DT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="hideDropDown==3" >
                <!-- For camera -->
                <ngx-scanner-qrcode   #action="scanner" (event)="handleScannedData($event)"></ngx-scanner-qrcode>

            </div>
        </div>

    </div>
</div>