<div class="row">
  <div class="col-sm-12">
      <app-card cardTitle="Points de vente">
          <button type="button" class="btn btn-success" (click)=" openAddEstablishment()">
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i>Ajouter
          </button>
          <div>
              <table class="table table-responsive">
                  <thead>
                      <tr>
                          <th></th>
                          <th class="bold-center">Point de vente</th>
                          <th class="bold-center">Options</th>
                          <th class="bold-center">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let estab of establishments">
                          <td><img [src]="'http://localhost:8085/gateway/STOCK/establishments/image/' + estab.id" alt="no image" width="100" height="100"
                              class="rounded"></td>
                          <td class="bold-center">{{ estab.name }}</td>
                          <td class="bold-center">
                              <!-- Display "System de fidélité" with a tick icon if fidelitySystem is true -->
                              <div *ngIf="estab.fidelitySystem">
                                  System de fidélité
                                  <i class="feather icon-check-circle"></i>
                              </div>
                              <!-- Display "Table System" with a tick icon if tableSystem is true -->
                              <div *ngIf="estab.tableSystem">
                                  Gestion des Tables
                                  <i class="feather icon-check-circle"></i>
                              </div>
                              <div *ngIf="!estab.fidelitySystem && !estab.tableSystem">
                                Options standards
                            </div>
                          </td>
                          <td class="bold-center">
                            <button (click)="onDelete(estab.id)" type="button" class="btn btn-icon btn-outline-danger" [title]="getDeleteTooltipText()">
                              <i class="feather icon-trash"></i> 
                          </button>
                          <button (click)="confirmBox(estab.id)" type="button" class="btn btn-icon btn-outline-primary" [title]="getDownloadTooltipText()">
                              <i class="feather icon-download"></i> 
                          </button>
                          <button (click)="onEdit(estab.id)" type="button" class="btn btn-icon btn-outline-success" [title]="getEditTooltipText()">
                              <i class="feather icon-edit"></i> 
                          </button>
                          
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </app-card>
  </div>
</div>
