.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
  }
  
  .alert-heading {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .alert p {
    margin: 0;
  }
  
  .alert hr {
    border-top: 1px solid #ffeeba;
  }
  