<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Produit Vendus" >
        <div class="custom-card">



            <div class="btn-group mb-2 me-2" ngbDropdown [placement]="'bottom-left'" style="width: 30%;">
                <button class="btn btn-outline-success" ngbDropdownToggle type="button">
                    Point de Vente - {{ selectedEstablishment ? selectedEstablishment.name : 'Loading...' }}
                </button>
                <div class="dropdown-menu-container" ngbDropdownMenu>
                    <a *ngFor="let establishment of establishments" class="dropdown-item" href="javascript:" (click)="fetchSoldProducts(establishment.id)"> 
                        {{ establishment.name }}
                      </a>
                </div>
            </div>
            <button type="button" class="btn btn-icon btn-primary" style="width:fit-content" (click)=" openAddSold(selectedEstablishment.id)">Ajouter </button>



            <table class="table">
                <thead>
                  <tr>
                    <th>Ref</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Stock Equivalents</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let soldProduct of soldProducts">
                    <td>{{ soldProduct.ref }}</td>
                    <td>{{ soldProduct.name }}</td>
                    <td>{{ soldProduct.price }}</td>
                    <td>{{ soldProduct.category.categoryName }}</td>
                    <td>
                      <ul>
                        <li *ngFor="let stockEquivalent of soldProduct.stockEquivalents">
                          {{ stockEquivalent.quantity }} - {{ stockEquivalent.stockproduct.name }}
                        </li>
                      </ul>
                    </td>
                    <td>
                      <button (click)="deleteSoldProduct(soldProduct.id)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>








        



      </app-card>
    </div>


    