<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Produits a vendre">
      <div class="custom-card">
        
         

        <div class="tables-container">
          
          <div class="table-container">
            <h4>&nbsp;Catégorie</h4>
            
            <table class="table custom-table">
              <thead>
                <tr>
                  <th></th>
                  <th>Catégorie</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categories">
                  <td>
                    <input type="radio" name="category" [value]="category" (change)="onCategorySelect(category)"
                      [checked]="areCategoriesEqual(selectedCategory3, category)">
                  </td>
                  <td *ngIf="selectedCategory !== category">{{ category.categoryName }}</td>
                  <td *ngIf="selectedCategory === category">
                    <input class="form-control white-input" type="text" [(ngModel)]="newCategoryName">
                  </td>
                  <td>
                    <button class="btn btn-icon btn-outline-success" *ngIf="selectedCategory !== category"
                      (click)="editCategory(category)"><i class="feather icon-edit"></i></button>
                    <button class="btn btn-icon btn-outline-primary" *ngIf="selectedCategory === category"
                      (click)="updateCategory()"><i class="feather icon-thumbs-up"></i></button>
                    <button class="btn btn-icon btn-outline-danger" (click)="deleteCategory(category.id)"><i
                        class="feather icon-delete"></i></button>



                  </td>
                </tr>
              </tbody>
            </table>
            <div class="add-category-row">
              <input class="form-control white-input" type="text" [(ngModel)]="newCategoryName2"
                placeholder="Ajouter une categorie">

              <button class="btn btn-outline-primary" style="margin-left: 5px;"
                (click)="addCategory(establishmentId)">Ajouter</button>
            </div>
          </div>

          <div class="table-container">
            <h4 >&nbsp; Produits de stock</h4>
            <table class="table custom-table">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Produit de stock</th>
                  <th>Quantité requise</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stock of stockProducts; let i = index">
                  <td>

                    <input type="checkbox" [checked]="selectedStockProductIds.includes(stock.id)"
                      (change)="toggleStockProductSelection(stock.id)">

                  </td>
                  <td>{{ stock.name }}</td>
                  <td>
                    <input class="form-control white-input" type="number" [(ngModel)]="selectedQuantities[i]"
                      [disabled]="!selectedStockProductIds.includes(stock.id)"
                      [placeholder]="oldquant[i]!== undefined ? oldquant[i] : ''">
                  </td>
                  <td>{{stock.unit}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <form [formGroup]="soldForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="ref">Ref:</label>
            <input class="form-control white-input" type="text" id="ref" name="ref" formControlName="ref">
          </div>
          <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control white-input" type="text" id="name" name="name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input class="form-control white-input" type="number" id="price" name="price" formControlName="price">
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <div class="image-upload-container">

              <div style="width: 30%;">
                <ng-container *ngIf="!imageUrl && !soldProductId">
                  <div class="image-placeholder">Aucune image sélectionnée</div>
                </ng-container>
                <ng-container *ngIf="!imageUrl && soldProductId">
                  <img [src]="'http://localhost:8080/sold-products/image/' + soldProductId"  height="200px" width="100%"
                    class="rounded mb-3" />
                </ng-container>
                <ng-container *ngIf="imageUrl">
                  <img [src]="imageUrl"  height="200px" class="rounded mb-3" width="100%" />
                </ng-container>
              </div>
              
          
              <!-- Select Image Input -->
              <input type="file" class="form-control" aria-label="file example" id="image"
                     (change)="previewImage($event);validateImage($event);" accept=".jpg, .jpeg, .png"
                     data-browse="Choisir un fichier image" style="width: 100%;" />
          
              <!-- Submit Button -->
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="invalid-feedback">Veuillez sélectionner un fichier au format JPG ou PNG.</div>
          </div>
          
          <!-- Include other form elements like selecting category and specifying stock equivalents here -->
        
        </form>

      </div>
    </app-card>
  </div>
</div>





