<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Combos">
      <div class="custom-card">





        <div class="d-flex align-items-center mb-3">
          <input class="form-control me-2" type="text" placeholder="Rechercher" [(ngModel)]="searchText"
            (input)="searchByName()">
        </div>


        <button type="button" class="btn btn-success" (click)=" openAddCombo(selectedEstablishment.id)" >
          <i class="fa-solid fa-plus" style="color: #ffffff;"></i>Ajouter
        </button>
        
        <div class="btn-group mb-2 me-2" ngbDropdown  style="width: 30%;" id="selectestab">
          <button class="btn btn-outline-primary" ngbDropdownToggle type="button">
            Point de Vente - {{ selectedEstablishment ? selectedEstablishment.name : 'Loading...' }}
          </button>
          <div class="dropdown-menu-container" style="max-height: 150px; overflow-y: auto;width:100%;" ngbDropdownMenu>
            <a *ngFor="let establishment of establishments" class="dropdown-item" href="javascript:" (click)="fetchCombos(establishment.id)">
              {{ establishment.name }}
            </a>
          </div>
        </div>
       
        
       
        <div class="btn-group mb-2 me-2" style="width: 30%;">




          <div class="d-flex align-items-center" style="margin-left:80%">



            <nav aria-label="Page navigation example"  >
              <ul class="pagination mb-0">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" href="javascript:" (click)="previousPage()">Précedent</a>
                </li>
                <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="currentPage === page"
                  [ngClass]="{ 'custom-active': currentPage === page }">
                  <a class="page-link" href="javascript:" (click)="goToPage(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" href="javascript:" (click)="nextPage()">Suivant</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>








        <table class="table table-responsive">
          <thead>
            <tr>
              <th class="bold-center" style="color: rgb(3, 115, 135);"></th>
              <th class="bold-center" style="color: rgb(3, 115, 135);">Référence</th>
              <th class="bold-center" style="color: rgb(3, 115, 135);">Nom</th>
              <th class="bold-center" style="color: rgb(3, 115, 135);">Prix</th>
              <th class="bold-center" style="color: rgb(3, 115, 135);">Produits</th>
              <th class="bold-center" style="color: rgb(3, 115, 135);">Actions</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let combo of currentCombos">
              <td class="text-center">
                <img [src]="'http://localhost:8083/STOCK/combo/image/' + combo.id" alt="no image" width="100" height="100"
                  class="rounded">
              </td>
              <td class="bold-center">{{combo.ref}}</td>
              <td class="bold-center">{{ combo.name }}</td>
              <td class="bold-center">{{ combo.price}} DT</td>
              <td class="center">
                <ul>
                  <li *ngFor="let produit of combo.soldProducts" style="margin-left: 150px;">
                    {{ produit.name}}
                  </li>
                </ul>
              </td>
              <td class="align-middle">
                <button (click)="onEdit(selectedEstablishment.id,combo.id)" type="button"
                  class="btn btn-icon btn-outline-success">
                  <i class="feather icon-edit"></i>
                </button>
                <button (click)="this.onDelete(combo.id,selectedEstablishment.id)" type="button"
                  class="btn btn-icon btn-outline-danger">
                  <i class="feather icon-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>



      <nav aria-label="Page navigation example" style="margin-left: 66%;">
        <ul class="pagination mb-0">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="javascript:" (click)="previousPage()">Précedent</a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="currentPage === page"
            [ngClass]="{ 'custom-active': currentPage === page }">
            <a class="page-link" href="javascript:" (click)="goToPage(page)">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" href="javascript:" (click)="nextPage()">Suivant</a>
          </li>
        </ul>
      </nav>
    </app-card>


  </div>




</div>