.dropdown-menu-container {
    max-height: 150px;
    /* Adjust the maximum height as needed */
    /* Enable vertical scrolling */
    scrollbar-width: thin;
    /* Set scrollbar width */
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
    /* Set scrollbar color */
  }
  
  
  
  /* Track */
  .dropdown-menu-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    /* Set track background color */
  }
  
  /* Handle */
  .dropdown-menu-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    /* Set handle color */
    border-radius: 5px;
    /* Set handle border radius */
  }
  
  /* Handle on hover */
  .dropdown-menu-container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
    /* Set handle color on hover */
  }


  .bold-center {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
  }
  .bold{

    font-weight: bold;
    font-size: 1rem;

  }
  .center {
    font-weight: bold;
    vertical-align: middle;
    
    font-size: 1rem;
  }