<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Caissiers">
        <div class="table-styling">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Point de vente</th>
                <th>Roles</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of dataSource">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div class="btn-group mb-2 me-2" ngbDropdown [placement]="'bottom-left'">
                        <button class="btn drp-icon btn-success" style="width: fit-content;" ngbDropdownToggle type="button" >
                            Modifier
                          <i class="feather icon-edit"></i>
                        </button>
                        <div ngbDropdownMenu>
                          <a *ngFor="let establishment of establishments" class="dropdown-item" href="javascript:" (click)="assignEstablishment(user.id,establishment.id.toString())">
                              {{ establishment.name }}
                            </a>
                        </div>
                      </div>
                      <span *ngIf="user?.attributes?.establishmentId">
                        {{ getEstablishmentName(user.attributes.establishmentId) }}
                    </span>
                    <span *ngIf="!user?.attributes?.establishmentId">non défini</span>
                </td>
                <td>
                  <div *ngIf="user.roles && user.roles.realmMappings.length > 1">
                    
                    <div *ngFor="let realmMapping of user.roles.realmMappings">
                      <ng-container *ngIf="realmMapping.name !== 'default-roles-pfe'">
                        <div class="role-container">
                            
                          <button type="button" class="btn btn-icon btn-danger"  (click)="deleteRole(user.id, realmMapping)">
                            
                            <i class="feather icon-delete"></i>
                          </button>
                          <span>{{ realmMapping.name }}</span>
                        </div>
                      </ng-container>
                    </div>
                   
                  </div>
                  <div *ngIf="!user.roles || user.roles.realmMappings.length === 1">
                    Aucun rôle 
                  </div>
                  
                </td>
                <td>
                        <div class="btn-group mb-2 me-2" ngbDropdown [placement]="'bottom-left'">
                          <button class="btn drp-icon btn-primary" style="width: fit-content;" ngbDropdownToggle type="button">
                            Ajouter un Role
                            <i class="feather icon-plus-square"></i>
                          </button>
                          <div ngbDropdownMenu>
                            <a *ngFor="let role of roles" class="dropdown-item" href="javascript:" (click)="assignRole(user.id,role)">
                                {{ role.name }}
                              </a>
                          </div>
                        </div>
                      
                       
                      
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>
